body {
    margin: 0;
    padding: 0;
    font-family: FontAwesome, 'Open Sans', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
}

.header {
    width: 1900px;
    height: 404px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4) url("./img/html_css_homework_homework6_img_header-bg.jpeg");
    background-blend-mode: darken;
    background-position-y: -400px;

}

.d3-efect {
    background-attachment: fixed;
}

.nav-bar {
    background-color: #1d2124;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    text-align: left;
    color: white;
    font-size: 22px;
    line-height: 60px;
    margin-top: -8px;
}

.logo:before {
    content: url("./img/loga-left.png");
    margin-right: 3px;
    display: inline-block;
    margin-top: -1px;
    height: 47px;
    color: white;
    width: 38px;
    background-color: rgba(0, 0, 0, 0.73);
    padding: 11px;
}

.main-menu {
    line-height: 60px;
}

.menu-header {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 25px;
}

.search {
    text-decoration: none;
}

.search:after {
    content: "\f002";
    color: white;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.73);
    padding: 22px;
}

.news-laters-text {
    margin-top: 120px;
    text-transform: uppercase;
    color: white;
}

.btn {
    width: 170px;
    height: 55px;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-width: 0;
}

.subscrible-now {
    background-color: #89ca62;
    cursor: pointer;
}

.best-articles {
    background-color: #14b9d5;
    cursor: pointer;
}

.most-popular-posts-list {
    width: 1900px;
    /*height: 1030px;*/
    background-color: #f2f2f2;

}

.headline {
    margin: 65px 0 50px;
    font-size: 27px;
}

.popular-posts {
    font-size: 27px;
    text-align: center;
    margin-block-start: 0;
    padding-top: 54px;
    padding-bottom: 20px;
}
.popular-posts span {

    cursor: pointer;
    color: #18b4cf;
    text-decoration: none;

}

.posts {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    height: 1030px;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.img {
    margin: 6px 6px 6px 6px;
    position: relative;
    width: 370px;
    height: 320px;
}

.post1 {
    background: url("./img/vanglo-hous-canada.png") no-repeat white;
}

.post2 {
    height: 440px;
    background: url("./img/sunrise-expanse-usa.png") no-repeat white;
}

.post3 {
    height: 350px;
    background: url("./img/stargaze-resort-usa.png") no-repeat white;
}

.post4 {
    background: url("./img/royal-blossom-hotel.png") no-repeat white;
}

.post5 {
    background: url("./img/sunsetshack-spain.png") no-repeat white;
}

.post6 {
    height: 440px;
    background: url("./img/glorious-expanse-france.png") no-repeat white;
}

.text-posts {
    position: absolute;
    bottom: 0;
    display: block;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    line-height: 3;
    margin-left: 45px;
}

.parallax {
    background-image: url("./img/html_css_homework_homework6_img_parallax-bg.jpeg");
    width: 1900px;
    height: 590px;
    text-align: center;
    color: white;
}

.title-paral {
    margin: 0;
    padding-top: 201px;
    font-size: 32px;
}

.title-paral:after {
    content: " ";
    border: 2px solid #169cb4;
    display: block;
    width: 60px;
    margin: 60px auto auto;
}

.sprite {
    background: url("./img/spritesheet.png") no-repeat;
    display: inline-block;
    margin: 60px;
}

.sprite-icons-dryme {
    width: 135px;
    height: 49px;
    background-position: -5px -5px;
}

.sprite-icons-house_home {
    width: 172px;
    height: 42px;
    background-position: -5px -64px;
}

.sprite-icons-journey {
    width: 141px;
    height: 52px;
    background-position: -5px -116px;
}

.sprite-icons-national-post {
    width: 207px;
    height: 28px;
    background-position: -150px -5px;
}

.parallax {
    width: 1900px;
    height: 590px;
    background: rgba(0, 0, 0, 0.4) url("./img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-blend-mode: darken;
}

.latest-post-thumbnails {
    width: 1900px;
    height: 270px;
    text-align: center;
    color: #18b4cf;
}

.latest-post-img {
    margin: 25px auto 25px;
}

.la-post-img {
    display: flex;
}

.post-img {
    width: 271px;
    height: 190px;
    background-size: cover;
}

.la-test1 {
    background: url("./img/ls.test-post1-img.png") no-repeat;
}

.la-test2 {
    background: url("./img/ls.test-post2-img.png") no-repeat;
}

.la-test3 {
    background: url("./img/ls.test-post3-img.png") no-repeat;
}

.la-test4 {
    background: url("./img/ls.test-post4-img.png") no-repeat;
}

.la-test5 {
    background: url("./img/ls.test-post5-img.png") no-repeat;
}

.la-test6 {
    background: url("./img/ls.test-post6-img.png") no-repeat;
}

.la-test7 {
    background: url("./img/ls.test-post7-img.png") no-repeat;
}

.most-liked-posts-list {
    width: 1900px;
    height: 1683px;
    text-align: center;
    color: #18b4cf;
}

.block-grid-post-list {
    display: block;
    width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
}

.visit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 259px 418px 418px 259px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    color: black;
}

.background-small {
    text-align: center;
    background-color: #f9f7f7;

}

.background-big {
    text-align: right;
    background-color: #f9f7f7;
    font-size: 14px;

}

.paragraph-description {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    color: #353a3d;
}

.description {
    margin-right: 15px;
    margin-left: 20px;
    display: inline-block;
    color: #5b6469;
}

.emirate-visit {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-emirate {
    background: url("./img/hotel-spa-emirate.png") no-repeat;
    width: 483px;
    height: 259px;
    background-size: cover;
}

.spain-visit {
    display: grid;
    grid-template-rows: 210px 49px;
}

.img-spain {
    background: url("./img/hotel-spain.png") no-repeat;
    width: 277px;
    height: 210px;
    background-size: cover;
}

.egypt-visit {
    margin-right: 21px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 259px 160px;
}

.img-egypt {
    background: url("./img/hotel-resort-egypt.png") no-repeat;
    width: 554px;
    height: 259px;
    background-size: cover;
}

.maldives-visit { /*tree*/
    margin-left: 20px;
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: 259px 160px;
}

.img-maldives {
    background: url("./img/hotel-resort-maldives.png") no-repeat;
    width: 555px;
    height: 259px;
    background-size: cover;
}

.tenerife-visit {
    margin-right: 21px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 259px 160px;
}

.img-tenerife {
    background: url("./img/hotel-resort-tenerife.png") no-repeat;
    width: 555px;
    height: 259px;
    background-size: cover;
}

.great-bri-visit {
    margin-left: 20px;
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: 259px 160px;
}

.img-great-bri {
    background: url("./img/hotel-great-bri.png") no-repeat;
    width: 554px;
    height: 259px;
    background-size: cover;
}

.ireland-visit {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: 210px 49px;

}

.img-ireland {
    background: url("./img/hotel-ireland.png") no-repeat;
    width: 278px;
    height: 210px;
    background-size: cover;

}

.spain-resort-visit { /*night*/
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-spain-resort {
    background: url("./img/hotel-resort-spain.png") no-repeat;
    width: 483px;
    height: 259px;
    background-size: cover;
}

.footer {
    background-color: #1d2124;
    width: 1900px;
    height: 60px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    display: block;
    line-height: 60px;
}

.hren {
    margin-left: 400px;
    float: left;
    color: white;
}

.footer-logo {
    margin-right: 360px;
    float: right;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 58px;
}

.footer-logo:before {
    content: url("./img/footer-logo.png");
    vertical-align: -10px;
}